.button {
	height: 40px;
	background-color: white;
	border: 2px solid #CDD3D9;
	border-radius: 4px;
	font-family: "Nunito";
	color: #33393F;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: 600;
	padding-right: 15px;
	margin: 0% 3%;
	transition: 0.2s all ease-in-out;
}

.button:hover {
	background-color: rgb(231, 231, 231);
}

.button.primary {
	background-color: #2242A4;
	color: white;
	border: none;
}

.button.primary:hover {
	background-color: #002aa7 !important;
}

.icon_span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}