@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');
.search_bar .MuiOutlinedInput-root {
	border-radius: 40px !important;
	background-color: #F0F2F4 !important;
	height: 36px !important;
	margin-right: 5%;
}

.input_field {
	width: 100% !important;
}

.input_field .MuiOutlinedInput-root {
	height: 38px !important;
}

.text-editor {
	border: 1px solid #CDD3D9;
	height: 320px !important;
}